/* Picker dialog layout */

div.picker-part {
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
	border-right: 1px solid #CBCBCB;
}

.yui-gb .yui-u {
	margin-left: 1%;
}

div.group-selector td { text-align: left; }
div.people-table thead { display: none; }
div.people-table table { border: none; width: 100% }
.yui-skin-sam .people-table .yui-dt td { border-right: none; }

div.picker-selection {
	padding-left: 6px;
	border-top: 1px solid #CBCBCB;
}

.alfresco-share .yui-panel .bd .yui-u.first.picker-search {
	padding-left: 6px;
	text-align: left;
}

.yui-panel-container .yui-u.first.picker-search input[type="text"] {
	padding: 0.3em 1em 0.4em 0.5em;
	float: left;
}

.alfresco-share .yui-panel .bd div.yui-u.picker-view-selector {
	padding-top: 0.7em;
	padding-left: 0.7em;
	padding-bottom: 0.4em;
}

.alfresco-share .yui-panel .bd div.yui-u.picker-view-selector a {
	margin-left: 0.7em;
}

/* Highlight captions */
.badge-highlight {
	background-color: #aaa;
	border-radius: 6px;
	padding-right: 6px;
	padding-left: 6px;
}

/* Highlight for tree view */
.yui-panel .ygtv-highlight .ygtv-highlight1 {
	background-color: #fff;
	color: #333;
}

.yui-panel .ygtv-highlight .ygtv-highlight1 .ygtvlabel {
	background-color: #aaa;
	border-radius: 6px;
	padding-right: 6px;
	padding-left: 6px;
	color: #000;
}

/* End of picker dialog layout */

.action div{
	float: left;
	line-height: 1em;
}

.action span {
	display: none;
}

a.orgchart-action-link
{
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	padding: 0 0 0 24px;
}

div.addPerson a.orgchart-action-link {
	background-image: url(/share/res/components/images/add-icon-16.png);
}

div.addPersonTitle a.orgchart-action-link {
	padding: 0 0 0 0px;
}

/* We need these rules to remove ugly black border on Windows */
div.addPersonTitle img {
	border: 0px;
}

div.showUserInfoTitle img {
	border: 0px;
}

a.remove-item img {
	border: 0px;
}

div.showUserInfo a.orgchart-action-link {
	background-image: url(/share/res/components/images/search-16.png);
}

div.showUserInfoTitle a.orgchart-action-link {
	padding: 0 0 0 0px;
}

div.deleteUser a.orgchart-action-link {
	background-image: url(/share/res/components/images/delete-16.png);
}

div.editUserRoles a.orgchart-action-link {
	background-image: url(/share/res/components/images/edit-metadata-16.png);
}

div.editRoleDef a.orgchart-action-link {
	background-image: url(/share/res/components/images/edit-16.png);
}

div.deleteRoleDef a.orgchart-action-link {
	background-image: url(/share/res/components/images/delete-16.png);
}

div.roles-list {
	margin: 0.1em;
}

.roles-list label {
	margin-left: 0.5em;
}

.row div { float: left; margin-right: 5em; margin-bottom: 1em; }
.profile .namelabelcustom { margin-left: 96px; font-size: 123.1%; line-height: 1.7em; font-weight: bold; }
.profile .labelcustom { clear: left; float: left; padding-right: 0.8em; width: 7em; text-align: right; font-weight: bold; }
.profile .valuecustom { display: block; margin-left: 7em; min-height: 1.2em; padding-left: 1.5em; }
.profile .sectionlabelcustom { line-height: 1.7em; font-weight: bold; }
.profile hr { color: #E4E4E4; background-color: #E4E4E4; }
.person-hidden { display: none; }
.orgchart-picker-menu { border-bottom: 1px solid #CBCBCB; }

/* Admin page */
.form-fields { padding: 1em; }

.orgchart-admin
{
	margin: 16px 10px 10px;
}

.orgchart-admin .title {
	font-size: 123.1%;
	font-weight: bold;
	padding-bottom: 0.5em;
}

/* People picker */

.people-picker
{
   width: 51em;
}

.people-picker .people-finder .search-text
{
   padding: 0 1em 0.3em 0.3em;
}

.people-picker .people-finder.list
{
   margin-bottom: 0;
   margin-top: 0;
   padding-bottom: 1em;
   padding-top: 0.3em;
}

.people-picker .people-finder .title
{
   display: none;
}

.people-picker .bd
{
   padding: 1em;
}

.people-picker .search-button
{
   margin-top: 0;
}

/* Dialogs */

.alfresco-share div.user-roles-dialog div.hd
{
	padding-left: 3em;
	padding-right: 3em;
}

.alfresco-share div.user-roles-dialog div.bd
{
	padding: 1em;
}

.alfresco-share div.unit-roles-dialog div.hd
{
	padding-left: 3em;
	padding-right: 3em;
}

.alfresco-share div.unit-roles-dialog div.bd
{
	padding: 1em;
}

.alfresco-share div.add-role-dialog div.bd
{
	padding: 1em;
}

/* Insitu Edit */

span.insitu-open-orgchart
{
	background-image: url(/share/res/components/images/user-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 10px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-roles-orgchart
{
	background-image: url(/share/res/components/images/edit-metadata-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 30px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-edit-orgchart
{
	background-image: url(/share/res/components/images/edit-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 50px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-add-orgchart
{
	background-image: url(/share/res/components/images/plus-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 70px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-delete-orgchart
{
	background-image: url(/share/res/components/images/delete-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 90px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

/* Fix for ALV-324
 * After Light Theme was introduced, other themes look bad.
 * The issue is that all sizes are set in 'em' and are affected by font-size change.
 * So, revert this change and set font-size to 100%.
 */
.yui-dialog .yui-overlay
{
	font-size: 100%;
}

