.action div{
	float: left;
	line-height: 1em;
}

.action span {
	display: none;
}

a.alvex-uploader-action-link
{
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	padding: 0 0 0 24px;
	background-image: url(/share/res/components/images/list-16.png);
}

a:active.alvex-uploader-action-link,
a:hover.alvex-uploader-action-link
{
	background-color: #fff;
	border: 1px solid #2b6eb5;
	text-decoration: none;
}

div.downloadFile a.alvex-uploader-action-link {
	background-image: url(/share/res/components/alvex/uploader/document-download-16.png);
}

div.downloadFileDisabled a.alvex-uploader-action-link {
	background-image: url(/share/res/components/alvex/uploader/document-download-disabled-16.png);
}

div.viewFile a.alvex-uploader-action-link {
	background-image: url(/share/res/components/alvex/uploader/document-edit-properties-16.png);
}

div.deleteFile a.alvex-uploader-action-link {
	background-image: url(/share/res/components/alvex/uploader/document-delete-16.png);
}