.action div{
	float: left;
	line-height: 1em;
}

.action span {
	display: none;
}

a.orgchart-action-link
{
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	padding: 0 0 0 24px;
}

div.addPerson a.orgchart-action-link {
	background-image: url(/share/res/components/images/add-icon-16.png);
}

div.addPersonTitle a.orgchart-action-link {
	padding: 0 0 0 0px;
}

div.showUserInfo a.orgchart-action-link {
	background-image: url(/share/res/components/images/search-16.png);
}

div.showUserInfoTitle a.orgchart-action-link {
	padding: 0 0 0 0px;
}

div.deleteUser a.orgchart-action-link {
	background-image: url(/share/res/components/images/delete-16.png);
}

div.editUserRoles a.orgchart-action-link {
	background-image: url(/share/res/components/images/edit-metadata-16.png);
}

div.editRoleDef a.orgchart-action-link {
	background-image: url(/share/res/components/images/edit-16.png);
}

div.deleteRoleDef a.orgchart-action-link {
	background-image: url(/share/res/components/images/delete-16.png);
}

div.roles-list {
	margin: 0.1em;
}

.roles-list label {
	margin-left: 0.5em;
}

.row div { float: left; margin-right: 5em; margin-bottom: 1em; }
.profile .namelabelcustom { margin-left: 96px; font-size: 123.1%; line-height: 1.7em; font-weight: bold; }
.profile .labelcustom { clear: left; float: left; padding-right: 0.8em; width: 7em; text-align: right; font-weight: bold; }
.profile .valuecustom { display: block; margin-left: 7em; min-height: 1.2em; padding-left: 1.5em; }
.profile .sectionlabelcustom { line-height: 1.7em; font-weight: bold; }
.profile hr { color: #E4E4E4; background-color: #E4E4E4; }
.person-hidden { display: none; }
.orgchart-picker-menu { border-bottom: 1px solid #CBCBCB; }
.search-input { float: left; }

/* Admin page */
.form-fields { padding: 1em; }

.orgchart-admin
{
	margin: 16px 10px 10px;
}

.orgchart-admin .title {
	font-size: 123.1%;
	font-weight: bold;
	padding-bottom: 0.5em;
}

/* People picker */

.people-picker
{
   width: 51em;
}

.people-picker .people-finder .search-text
{
   padding: 0 1em 0.3em 0.3em;
}

.people-picker .people-finder.list
{
   margin-bottom: 0;
   margin-top: 0;
   padding-bottom: 1em;
   padding-top: 0.3em;
}

.people-picker .people-finder .title
{
   display: none;
}

.people-picker .bd
{
   padding: 1em;
}

.people-picker .search-button
{
   margin-top: 0;
}

/* Insitu Edit */

span.insitu-open-orgchart
{
	background-image: url(/share/res/components/images/user-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 10px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-roles-orgchart
{
	background-image: url(/share/res/components/images/edit-metadata-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 30px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-edit-orgchart
{
	background-image: url(/share/res/components/images/edit-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 50px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-add-orgchart
{
	background-image: url(/share/res/components/images/plus-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 70px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-delete-orgchart
{
	background-image: url(/share/res/components/images/delete-16.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	margin-left: 90px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}