.task-projects
{
   clear: both;
   padding: 0;
   min-height: 4em;
   width: 300px;  
}

.task-projects h2
{
	padding-bottom: 0.5em;
	padding-top: 1.5em;
}

.task-projects .clear
{
   clear: both;
}

.task-projects .message-left
{
	float: left;
}

/*.task-projects .section-header
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 2em;
}*/

.task-projects .section-action
{
	margin-top: 0.75em;
	margin-left: 32px;
}

.task-projects .section-action span
{
	border-style: none;
}

.task-projects .section-action .yui-button span
{
	border-style: none;
}

.task-projects .section-action button
{
	padding: 0px;
}

/*.task-projects div.project-item 
{
	float: left;
	margin-left: 1em;
	border: 1px solid;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
	border-radius: 1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border-color: #ccc;
}*/

.task-projects .project-item span 
{
	line-height: 1.5em;
	vertical-align: middle;
	float: left;
}

/*.task-projects .project-item img
{
	float: left;
	width: 24px;
	height: 24px;
	padding: 4px;
}*/

.task-projects .project-item span.project-site
{
	padding-left: 32px;
	background: url(../images/site-16.png) no-repeat;
	background-position: 8px 2px;
}

.task-projects .action a
{
   cursor: pointer;
   padding: 0em 0.75em;
   visibility: hidden;
}

.task-projects .action div
{
   line-height: 1.5em;
}

.action span
{
	float: left;
	line-height: 1em;
}

.action span.title
{
	display: none;
}

a.alvex-project-workflow-action
{
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	padding: 0 0 0 24px;
	background-image: url(/share/res/components/images/list-16.png);
}

a:active.alvex-project-workflow-action,
a:hover.alvex-project-workflow-action
{
	background-color: #fff;
	border: 1px solid #2b6eb5;
	text-decoration: none;
}

div.onAttachProject a.alvex-project-workflow-action {
	background-image: url(/share/res/components/images/add-icon-16.png);
}

div.onDetachProject a.alvex-project-workflow-action {
	background-image: url(/share/res/components/images/remove-icon-16.png);
}

.yui-skin-lightTheme .yui-panel .bd .attach-project-dialog
{
	padding: 1em;
}

.yui-skin-lightTheme .yui-panel .bd .attach-project-dialog .attach-project-dialog-search
{
	padding-bottom: 1em;
}

.yui-skin-lightTheme .yui-panel .bd .attach-project-dialog .yui-dt thead
{
	display: none;
}

.yui-skin-lightTheme .yui-panel .bd .attach-project-dialog .attach-project-dialog-search input[type="text"]
{
	width: 350px;
	line-height: 2em;
	float: left;
}

.yui-skin-lightTheme .task-projects .yui-menu-button button {
	background-image: none;
}