.task-toolbar,
.task-toolbar .buttons-panel
{
	width: 850px;
	float: left;
}

.task-toolbar.reassign-panel.yui-panel
{
   margin: 0;
}

.task-toolbar.reassign-panel.yui-panel .people-finder.list
{
   margin: 0;
   padding: 0.1em 0 0.7em 0;
}

.task-toolbar.reassign-panel.yui-panel .people-finder.list .title
{
   display:none;
}

.task-toolbar .actions
{
   //float: right;
   padding-bottom: 0.5em;
   padding-top: 0.5em;
}

.task-toolbar .workflow-summary-buttons
{
   float: right;
   padding: 5px;
}

.task-toolbar .links
{
   width: 70%;
   //float: right;
   //text-align: left;
}